#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* GLOBAL */
body {
  margin: 0;
}

/* CARD IMPROVEMENTS */
.old-price {
  text-decoration: line-through;
  color: #94a3b8;
  font-size: 14px;
}

.save {
  font-size: 14px;
  color: #22c55e;
  margin-bottom: 10px;
}

.card button {
  background: linear-gradient(45deg, #f59e0b, #f97316);
  color: white;
  font-weight: 600;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}